@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--colors-accent-base: #e54d2e;

		/* if supports p3 color gamut */
		@supports (color-gamut: p3) {
			--colors-accent-base: color(display-p3 1 0.249 0);
		}
	}
}

@layer utilities {
	.fr {
		@apply outline-none focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-base;
	}
}
@font-face {
	font-family: 'neue-haas-grotesk-display';
	src: url('/fonts/neue-haas-grotesk-display-medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'neue-haas-grotesk-display';
	src: url('/fonts/neue-haas-grotesk-display-bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'neue-haas-grotesk-text';
	src: url('/fonts/neue-haas-grotesk-text-regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'neue-haas-grotesk-text';
	src: url('/fonts/neue-haas-grotesk-text-bold.woff2') format('woff2');
	font-weight: 700;
}
